
                /*NAVBAR*/
/* Triying to make the background of navbar change color */
.navbar {
    background-color: #404258;
}
/* Changing the color of the text in navbar */
nav div ul li a{
    color: #ffffff !important;
}
nav div a{
    color: white !important;
}
/*BACKGROUND COLOR*/
body {
    background-color: #6B728E !important;
}
