
                /*NAVBAR*/
/* Triying to make the background of navbar change color */
.navbar {
    background-color: #404258;
}
/* Changing the color of the text in navbar */
nav div ul li a{
    color: #ffffff !important;
}
nav div a{
    color: white !important;
}
/*BACKGROUND COLOR*/
body {
    background-color: #6B728E !important;
}
.navbar-toggler {
    border: 2px solid #50577A !important;
}
/*Shadow under the total products table*/
.contentTable{
    box-shadow: 12px 12px 2px -4px rgba(0,0,0,0.61) ;
    -webkit-box-shadow: 12px 12px 2px -4px rgba(0,0,0,0.61 ) ;
    -moz-box-shadow: 12px 12px 2px -4px rgba(0,0,0,0.61) ;
}
/*Resizing the img in the products table*/
.productImage{
    width: 3rem;

}
/*gave some padding to the table container to give it some spacing + used overflow to give it a X scroll in respponsive*/
.tableContainer{
    padding: 0rem 2rem  ;
    overflow-x:auto;
}
/*media query so that when it reaches that px size it removes the padding next to the table*/
@media(max-width: 568px) {
.tableContainer{
    padding:0;
    }    
}


/*changing the style of the new search div*/
#myTable_wrapper{
    background-color: white!important ;
    padding-top: 1rem;
    padding-bottom: 1rem;
    overflow-x:auto;
}
#myTable_wrapper input{ 
    margin-bottom: 1rem;
}